*, *:before, *:after {
  box-sizing: border-box;
}

header   { grid-area: header }
#sidebar { grid-area: sidebar }
main     { grid-area: main }
#toc     { grid-area: toc }

body {
  display: grid;
  grid-template-areas:
    "header "
    "sidebar"
    "main   ";
  margin: 0;
  padding: 0 1rem;
  gap: 1.5rem;
  font-family: system-ui;
  font-size: 16px;
  line-height: 1.5rem;
  color: #444;
}

a {
  text-decoration: none;
  color: DarkSlateBlue;
}

strong {
  color: DarkSlateGray;
}

small {
  color: DarkGray;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 a {
  display: inline-block;
  transition: transform ease 0.2s;
}

header h1 a:hover {
  transform: rotate(2deg);
}

header h1 a.enhance-link {
  color: DarkOrchid;
}

header h1 a.docs-link {
  color: DarkSalmon;
}

main article {
  max-width: 55rem;
  margin: auto;
}

#sidebar .tab-labels {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}

#sidebar .tab-label {
  flex-basis: 50%;
  text-align: center;
  line-height: 1.25rem;
  font-weight: bold;
  font-size: 1.15rem;
  padding: 0 0 0.5rem 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom: 2px solid SeaShell;
  color: Crimson;
}

#sidebar .tab-label.active {
  border-bottom: 2px solid LightSalmon;
}

#sidebar .tab {
  opacity: 0.5;
}

#sidebar .tab.active {
  opacity: 1;
}

#sidebar li a {
  padding: 0.2rem 0;
  display: block;
  padding-left: 0.3rem;
}

#sidebar li a:hover {
  border-left: 2px solid LightSteelBlue;
  margin-left: -2px;
  background-color: Azure;
  text-decoration: none;
}

#sidebar li a.active {
  border-left: 2px solid CornflowerBlue;
  margin-left: -2px;
  background-color: AliceBlue;
}

#sidebar .category-label {
  margin-top: 1rem;
}

#sidebar .category-label {
  line-height: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 1px solid WhiteSmoke;
}

#sidebar .description {
  line-height: 1rem;
  font-size: 0.75rem;
  color: DarkGray;
}

#toc {
  display: none;
}

#toc>ul {
  margin-bottom: 2rem;
}

.list-none {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-none li {
  padding-left: 0.65rem;
}

.list-none li ul {
  padding: 0;
  list-style: none;
}

.list-none li a:hover {
  text-decoration: underline;
}

.hljs {
  padding: 1rem;
  white-space: pre-wrap;
}

@media only screen and (min-width: 50em) {
  body {
    grid-template-columns: 20rem 1fr;
    grid-template-areas:
      "header  header"
      "sidebar main"
      ".       main";
  }

  aside {
    position: sticky;
    top: 1rem;
  }
}

@media (min-width: 72rem) {
  body {
    grid-template-columns: 20rem 1fr 18rem;
    grid-template-areas:
      "header  header header"
      "sidebar main   toc"
      ".       main   .";
  }

  #toc {
    display: block;
  }
}
