/* Light Theme */
:root,
:root[data-force-theme-mode='light'] {
  color-scheme: light;
  --color-bg-alpha: var(--white-500);
  --color-bg-bravo: var(--white-900);
  --color-bg-charlie: var(--princess-300);
  --color-bg-delta: #f9f9f9;
  --color-bg-echo: #eee;
  --color-text-alpha: var(--rift-500);
  --color-text-bravo: var(--rift-900);
  --color-text-charlie: var(--grey-600);
  --color-accent-alpha: var(--denim-500);
  --color-accent-bravo: var(--purple-500);
}

/* Dark Theme */
:root[data-force-theme-mode='dark'] {
  --color-bg-alpha: var(--denim-500);
  --color-text-alpha: var(--white-500);
}

/* Dark Theme: System */
@media (prefers-color-scheme: dark) {
  :root {
    --color-bg-alpha: var(--denim-500);
  }
}
