/* Light Theme */
:root,
:root[data-force-theme-mode='light'] {
	color-scheme: light;
	--background-color: White;

  --color-alpha: DarkSlateGray;
  --color-alpha-light: SlateGray;
  --color-alpha-lighter: DarkGray;
  --color-alpha-lightest: WhiteSmoke;

  --color-bravo: DarkSlateBlue;
  --color-bravo-light: CornflowerBlue;
  --color-bravo-lighter: LightSteelBlue;
  --color-bravo-lightest: AliceBlue;

  --color-charlie: Crimson;
  --color-charlie-light: DarkSalmon;
  --color-charlie-lighter: LightSalmon;
  --color-charlie-lightest: Seashell;

  --color-delta: DarkGray;
  --color-delta-light: WhiteSmoke;
  --color-delta-lighter: Snow;
  --color-delta-lightest: White;
}
/* Dark Theme */
:root[data-force-theme-mode='dark'] {
  --background-color: #121212;

  --color-alpha: #ddd;
  --color-alpha-light: DarkGray;
  --color-alpha-lighter: SlateGray;
  --color-alpha-lightest: DarkSlateGray;

  --color-bravo: #aae;
  --color-bravo-light: #3a3a5a;
  --color-bravo-lighter: #2c2c4c;
  --color-bravo-lightest: #191939;

  --color-charlie: Crimson;
  --color-charlie-light: DarkSalmon;
  --color-charlie-lighter: LightSalmon;
  --color-charlie-lightest: DarkSlateGray;

  --color-delta: #444;
  --color-delta-light: #272727;
  --color-delta-lighter: #191919;
  --color-delta-lightest: Black;
}
/* Dark Theme: System */
@media (prefers-color-scheme: dark) {
	:root {
		--background-color: #121212;

    --color-alpha: #ddd;
    --color-alpha-light: DarkGray;
    --color-alpha-lighter: SlateGray;
    --color-alpha-lightest: DarkSlateGray;

    --color-bravo: #aae;
    --color-bravo-light: #3a3a5a;
    --color-bravo-lighter: #2c2c4c;
    --color-bravo-lightest: #191939;

    --color-charlie: Crimson;
    --color-charlie-light: DarkSalmon;
    --color-charlie-lighter: LightSalmon;
    --color-charlie-lightest: DarkSlateGray;

    --color-delta: #444;
    --color-delta-light: #272727;
    --color-delta-lighter: #191919;
    --color-delta-lightest: Black;
	}
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: system-ui;
  font-size: 16px;
  line-height: 1.5rem;
  background-color: var(--background-color);
  color: var(--color-alpha);
}

a {
  text-decoration: none;
  color: var(--color-bravo)
}

strong {
  color: var(--color-alpha);
}

small {
  color: var(--color-alpha-light);
}

.list-none {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-none li {
  padding-left: 0.65rem;
}

.list-none li ul {
  padding: 0;
  list-style: none;
}

.list-none li a:hover {
  text-decoration: underline;
}

.hljs {
  padding: 0.8rem 1rem;
  margin: 0 -2rem;
  white-space: pre-wrap;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 4px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
