/* Light Theme */
:root,
:root[data-force-theme='light'] {
  --cloud-ateneo: var(--cloud);
  --denim-white: var(--denim);
  --inky-lily: var(--inky);
  --purple-white: var(--purple);
  --purple-princess: var(--purple);
  --rift-princess: var(--rift);
  --rift-white: var(--rift);
  --black-princess: var(--black);
  --black-white: var(--black);
  --smoke-denim: var(--smoke);
  --smoke-halite: var(--smoke);
  --smoke-indigo: var(--smoke);
  --white-denim: var(--white);
}

/* Dark Theme */
:root[data-force-theme='dark'] {
  --cloud-ateneo: var(--ateneo);
  --denim-white: var(--white);
  --inky-lily: var(--lily);
  --purple-white: var(--white);
  --purple-princess: var(--princess);
  --rift-princess: var(--princess);
  --rift-white: var(--white);
  --black-princess: var(--princess);
  --black-white: var(--white);
  --smoke-denim: var(--denim);
  --smoke-halite: var(--halite);
  --smoke-indigo: var(--indigo);
  --white-denim: var(--denim);
}

/* Dark Theme: System */
@media (prefers-color-scheme: dark) {
  :root {
    --cloud-ateneo: var(--ateneo);
    --denim-white: var(--white);
    --inky-lily: var(--lily);
    --purple-white: var(--white);
    --purple-princess: var(--princess);
    --rift-princess: var(--princess);
    --rift-white: var(--white);
    --black-princess: var(--princess);
    --black-white: var(--white);
    --smoke-denim: var(--denim);
    --smoke-halite: var(--halite);
    --smoke-indigo: var(--indigo);
    --white-denim: var(--denim);
  }
}
